body { background-color:#222; color:white; margin:0; font-family:sans-serif,helvetica,arial; }
a { text-decoration:none !important; color:darkblue; }
a:visited { color:darkblue; }
a:hover { background-color:yellow; color:darkblue; }
table { border-spacing:0; border:1px solid grey; border-collapse:collapse; margin:auto; background-color:white; }
table td { padding:2px; vertical-align:top; }
table th { padding:4px; vertical-align:center; font-size:75%; background-color:#ccc; }
form { display:inline; }
ul { line-height:1.3; display:block; }
h1 { display:inline; font-size:150% !important; font-weight:bold !important; }
h2 { display:inline; font-size:110% !important; font-weight:bold !important; }
h3 { font-size:95%; display:inline; }
h4 { font-size:70%; display:inline; }
h5 { font-size:60%; display:inline; }
img { border:1px solid black; background-color:white; background-clip:content-box; }
img:hover { border:1px solid red; background-color:white; }
video { border:1px solid black; background-color:white; background-clip:content-box; }
audio { border:1px solid black; background-color:white; background-clip:content-box; }
.menu { background-color:#222; color:#ccc; padding:3px 0px 3px 8px; margin:0px; line-height:2; text-align:center; font-size:85%; }
.menu a { background-color:#222; color:#ccc; }
.menu a:visited { color:#ddd; }
.menu a:hover { color:yellow; }
.admin { font-weight:bold; background-color:blue; }
.admin a { background-color:blue; color:yellow;}
.admin a:visited { color:yellow; }
.box { text-align:left; margin:0px; padding:5px 20px 20px 20px; }
.white { background-color:white; color:black; }
.grey { background-color:#333; color:#9c9; }
.grey a { background-color:inherit; color:yellow; }
.grey a:hover { background-color:inherit; color:white; }
.center { text-align:center; margin:auto; }
.nobr { white-space:nowrap; }
.pre { white-space:nowrap; font-family:monospace; }
.right { text-align:right; }
.left { text-align:left; }
.categories { padding:5px; margin:auto; text-align:left; font-size:90%; }
.thumbnail_box { background-color:#ccc; border:1px solid grey; display:inline-block; text-align:center; vertical-align:top; margin:3px; padding:3px; }
.thumbnail_reviews { background-color:inherit; display:inline-block; text-align:left; margin:0px; padding:1px; font-size:80%; }
.message { margin:0; padding:2px; text-align:left; }
.debug { color:black; background-color:yellow; font-size:90%; }
.notice { color:black; background-color:lightsalmon; font-size:90%; }
.error { color:black; background-color:yellow; font-size:90%; }
.fail { color:black; background-color:yellow; font-size:110%; }
.mediatitle { font-size:80%; }
.attribution { font-size:65%; }
.reviewbutton { display:inline-block; white-space:nowrap; padding:10px; margin:4px; border:1px solid black; font-weight:bold; }
.tagbutton { display:inline-block; vertical-align:middle; text-align:center; white-space:pre; padding:0px 0px 0px 0px; border:1px solid #333; }
.tagbutton:hover { border:1px solid yellow; background-color:black; }
.tagbutton a { font-size:270%; }
.cattable { display:table; margin:0 auto; min-width:80%; }
.catcon { display:table-row; margin:0; padding:0;  background-color:white; }
.catfiles { display:table-cell; min-width:42px; padding:0px 10px 0px 0px; margin:0; text-align:right; font-size:90%; border:1px solid #eee; }
.catname { display:table-cell; padding:0px 0px 0px 10px; margin:0; border:1px solid #eee; text-align:left; }
.catname:hover { background-color:yellow; }
.cathead { font-style:italic; font-size:95%; background-color:#e3e3e3; }
.menujcon { background-color:#222; text-align:center; vertical-align:middle; }
.menujcon a { background-color:#222; color:#ccc; }
.menujcon a:visited { color:#ddd; }
.menujcon a:hover { color:yellow; }
.menuj { font-size:120%; padding:1px; margin:0px; border:1px solid #555; }
.menuj:hover { border:1px solid yellow; }
